.header__image{
    margin-top: 4rem;
    filter: grayscale(1);
}

@media screen and (max-width: 768px) {
    .header__image {
      width: 100%;
      margin: 0;
    }
}

@media screen and (min-width: 20rem)  and (max-width: 767px) {
  .header__image{
    width: 100%;
  }
}

