.cover__container__title{
    font-weight: 900;
    font-size: 4.5rem;
    line-height: 4.75rem;
    margin-bottom: 2rem;
    z-index: 999;
}

@media screen and (min-width: 20rem)  and (max-width: 767px) {
    .cover__container__title{
        font-weight: 900;
        font-size: 2rem;
        line-height: 2.1875rem;
        margin-bottom: 1rem;
    }
}