.cover__texts{
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 20rem)  and (max-width: 767px){
    .cover__texts{
        font-weight: 400;
        font-size: .875rem;
        line-height: 1rem;
    }
}