.intro__quote{
    margin: 2.5rem 0 0 0;
    max-width: 45.125rem;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.125rem;
}

@media screen and (min-width: 20rem)  and (max-width: 767px){
    .intro__quote{
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 30px;
        margin-top: .5625rem;
        margin-bottom: 10px;
    }
}

