.place__descrip__subtitle{
    font-weight: 400;
    font-size: .75rem;
    line-height: .9375rem;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #AAAAAA;
    margin-bottom: .5rem;
}
