.cover__title{
    font-weight: 900;
    font-size: 4.5rem;
    line-height: 4.75rem;
    margin:0 0 2rem 0;
    z-index: 999;
}

@media screen and (min-width: 20rem)  and (max-width: 767px) {
    .cover__title{
        font-weight: 900;
        font-size: 2rem;
        line-height: 2.1875rem;
        margin: 0 0 1rem 0;
    }
}